<img src="/img/home.png" alt="home" style="width:100%;" class="img-fluid" alt="Responsive image">
{{!-- <form method="post" action="/flash">
    <button type="submit" class="btn btn-primary">Send Flash</button>
</form> --}}