<div class="container mt-4">
	<div class="row  bg-color">
		<div class="col-md-4 login-sec">
			<h2 class="text-center m-4">Reset Password</h2>
            <p>To reset your password, enter your email linked to RYCE account </p>

			<form method="post" action="">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" required>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-user">Send</button>
				</div>
				<div class="text-center ">
					<p class="text-white text-center  mt-3 mb-3">Don't have an account?
						 <a href="/user/register" class="text-white font-weight-bold ml-1">Register</a>
					</p>
				</div>
			</form>
		</div>
		<div class="col-md-8 banner-sec">
			{{!-- <img class="d-block img-fluid" src="/img/login image.png" alt=""> --}}
			<img class="d-block img-fluid" src="/img/Page.png" alt="" style="max: width 100%; height:100%;">

		</div>

	</div>
</div>
</div>