<div class="container mt-4">
  <div class="row bg-color">
    <div class="col-md-4 login-sec">
      <h2 class="text-center m-4">Create New Password</h2>
      <p>Enter a valid password with a minimum of eight characters and one
        number and one letter
      </p>

      <form method="post" action="/user/resetPassword">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" disabled value="{{email}}"/>
        </div>

        <input type="hidden" value="{{token}}" name="token" id="token" />

        <div class="form-group">
          <label for="password">New Password</label>
          <input type="password" class="form-control" name="password" placeholder="Reset Password"/>
        </div>
        <div class="form-group">
          <label for="password2">Confirm New Password</label>
          <input type="password" class="form-control" name="password2" placeholder="Reset Password"/>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-user">Send</button>
        </div>
      </form>
    </div>
    <div class="col-md-8 banner-sec">
      {{!-- <img class="d-block img-fluid" src="/img/login image.png" alt="" /> --}}
      <img class="d-block img-fluid" src="/img/Page.png" alt="" style="max: width 100%; height:100%;">

    </div>

  </div>
</div>