<div class="container">
    <div class="card card-body">
        <h3>Support</h3>
        <form action="" method="post">
  <h3 class="text-center" class="text-danger">Contact</h3>
  <p class="text-center"><em>Drop us a message or enquiry!</em></p>

<center></center>
  <div class="row">
    <div class="col-md-4">
      <h5>contact us here.</h5>
      <p><span class="glyphicon glyphicon-map-marker"></span>Location: Singapore</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +65 6677 8899</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: ryce@gmail.com</p>
       
    </div>
    </center>
    <div class="col-md-8">
      <div class="row">
         <div class="col-sm-12 form-group">
          <input class="form-control" id="subject" name="subject" placeholder="Subject" type="text" required>
        </div>

        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
  </form>
  </div>
 
  </div>
  