<div class="container mt-3">
<h1 class="text-white">Cart</h1>
{{#if cartlists}}
<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Cart - 2 items</h5>
                    </div>
                    {{#each cartlists}}
                    <form action="" method="post" class="needs-validation">
                        <div class="card-body">
                            <!-- Single item -->
                            <div class="row">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                    <!-- Image -->
                                    <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                        data-mdb-ripple-color="light">
                                        <img src="{{[shopparts.imgURL]}}" class="w-100" alt="" />
                                        <a href="#!">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                        </a>
                                    </div>
                                    <!-- Image -->
                                </div>

                                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                    <!-- Data -->
                                    <p><strong>{{[shopparts.name]}}</strong></p>
                                    <input type="text" class="form-control" name="shoppartProductId"
                                        value="{{[shopparts.productId]}}" hidden>
                                    <a href="/checkout/deleteCartItem/{{[shopparts.cartlist.cartlistId]}}"
                                        class="card-link" data-toggle="confirmation" data-title="Confirm delete?">
                                        <button type="button" class="btn btn-primary btn-sm me-1 mb-2"
                                            data-mdb-toggle="tooltip" title="Remove item">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </a>
                                    {{!-- <button type="button" class="btn btn-danger btn-sm mb-2"
                                        data-mdb-toggle="tooltip" title="Move to the wish list">
                                        <i class="fas fa-heart"></i>
                                    </button> --}}
                                    <!-- Data -->
                                </div>

                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                    <!-- Quantity -->
                                    <div class="d-flex mb-4" style="max-width: 300px">
                                        <button class="btn btn-primary px-3 me-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown();">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <div class="form-outline">
                                            <input min="0" id="quantity" name="quantity"
                                                value="{{[shopparts.cartlist.quantity]}}" type="number"
                                                class="form-control" />
                                        </div>

                                        <button class="btn btn-primary px-3 ms-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp();">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <!-- Quantity -->

                                    <!-- Price -->
                                    <p class="text-start text-md-center">
                                        <strong>${{[shopparts.price]}}</strong>
                                    </p>
                                    <!-- Price -->
                                </div>
                            </div>
                            <!-- Single item -->

                            <hr class="my-4" />

                        </div>
                    </form>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Summary</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Product Subtotal
                                <span>$53.98</span>
                            </li>
                            <input class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Shipping
                            <span>$10</span>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total amount</strong>
                                    <strong>
                                        <p class="mb-0">(including GST)</p>
                                    </strong>
                                </div>
                                <span><strong>$53.98</strong></span>
                            </li>
                        </ul>
                        <a href="/checkout/nomcheckout">
                            <button id="btnSubmit"  class="add-to-cart btn btn-primary">Checkout
                            </button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>

{{else}}
<h4>cart is empty</h4>
{{/if}}

{{#if user}}
<a href="/product/Shoppart" class="btn">continue shopping</a>
{{else}}
<a href="/user/login" class="btn">login here</a>
{{/if}}
</div>
<style>
    h4,
    h1 {
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
</style>

<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
    });
</script>